export MY_EMAIL="email@gmail.com"
export BOSS_EMAIL="boss@example.com"
export EMAIL_SUBJECT="Switchyards Membership Receipt"
export EMAIL_BODY="'Hi,\n\nAttaching my Switchyards receipt for {month_year} (\$100.00).\n\nBest,\nYour Favorite Employee'"
export RECEIPT_NAME="Switchyards_Receipt"